<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Help</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{ message }}</p>
        </div>
        {{>footer}}
        
        <script src="./js/app.js" async defer></script>
    </body>
</html>